# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
build/
dist/

# Virtual environment
.venv/
venv/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/

# Environment
.env

# Data
data/raw/
data/curated/
data/reports/

# Jupyter
.ipynb_checkpoints/
